@model IEnumerable<CERPA.Models.Job>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workstation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartID)
        </th>      
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workstation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartID)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<form action="/Jobs/GetJobsByWorkstation" method="get">
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Workstation)
    </div>
    <div class="form-group">
        @Html.DropDownList("Workstation",(IEnumerable<SelectListItem>
            )ViewData["Workstations"])
            <input type="submit" name="submit" value="Submit" />
    </div>
</form>