<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CERPA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CERPA", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>


                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("GroupsAdmin", "Index", "GroupsAdmin")</li>

                    }
                    @if (Request.IsAuthenticated && User.IsInRole("WebsiteAccess"))
                    {
                        <li>@Html.ActionLink("View Jobs", "JobsByUser", "Jobs")</li>
                        <li>@Html.ActionLink("View Pickorders", "Index", "PickOrders")</li>
                        <li>@Html.ActionLink("Inventory", "Index", "InventoryItems")</li>

                    }
                    @if (Request.IsAuthenticated && User.IsInRole("CanCreateOrders"))
                    {
                        <li>@Html.ActionLink("Create Assembly", "Start", "AssemblyProfiles")</li>
                        <li>@Html.ActionLink("Create Part Property", "Create", "PartProperties")</li>
                        <li>@Html.ActionLink("Create Order", "Create", "Orders")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("Search Transactions", "SearchTransactions", "InventoryControl")</li>
                        <li>@Html.ActionLink("Employee Performance", "EmployeeSearch", "UserJobs")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("InventoryControl"))
                    {
                        <li>@Html.ActionLink("Search Transactions", "SearchTransactions", "InventoryControl")</li>
                        <li>@Html.ActionLink("View Purchased Inventory", "ViewPurchasedInventory", "InventoryControl")</li>
                    }




                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CERPA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
